@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	margin: 0;
	min-height: 100%;
	display:block;
	font-family: Raleway;
}

header {
	background-color: #43E882;
}

div {
	font-family: Raleway;
	color: white;
	display: block;
}

button {
	font-family: Raleway;
	cursor: pointer;
}

button:focus {
	border: none;
}

a {
	font-family: Raleway;
	color: white;
	text-decoration: none;
	height: inherit;
	display: block;
}

a:hover {
	cursor: pointer;
}

input {
	font-family: Raleway;
	font-weight: normal;
}

select {
	font-family: Raleway;
}

/*---------------------------------------------------------------*/
/*------------------------Main Page------------------------------*/
/*---------------------------------------------------------------*/

div#container-home {
	background-color: #43E882;
	height: 100vh;
	width: 100%;
	position: fixed;
}

div#container {
	background-color: white;
	height: 100vh;
	width: 100%;
	position: fixed;
}

div#logo {
	width: 85%;
	margin:auto;
	height: 85vh;
	color: white;
}

	div#logo div.filler {
		padding-top: 20vh;
	}

	div#logo h3 {
		font-size: 1.5em;
		text-align: center;
		width: 100%;
	}

	div#logo h1{
		font-size: 8em;
		text-align: center;
		margin: 0;
		width: 100%;
	}
		div#logo h1 div.logo-1 {
			font-family: Lobster;
			display:inline;
			color: white;
		}

		div#logo h1 div.logo-2 {
			font-family: Raleway;
			display:inline;
			color:white;
		}

	div#underline {
		height: 10px;
		background-color: white;
		float: right;
	}

div#login {
	border-top: 5px solid silver;
	background-color: black;
	bottom: 0px;
	position: fixed;
	width: 100%;
	height: 15vh;
}
	button#login-button {
		height: inherit;
		color: white;
		background-color: black;
		border:none;
		font-size: 2.5em;
		width: 100%;
	}

/*---------------------------------------------------------------*/
/*------------------------Login Screen---------------------------*/
/*---------------------------------------------------------------*/

body#loginscreen {
	background-color: #43E882;
	color: black;
}

div#loginbox {
	width: 400px;
	margin: auto;
	background-color: white;
	border: 5px solid silver;
	text-align: center;
	height: auto;
	margin-top: 30vh;

}
	div#loginbox h2 {
		font-size: 3em;
		text-align: center;
		color: black;
		margin-bottom: 20px;
	}

	div#loginbox form {
		margin-top: 20px;
		margin-bottom:20px;
	}

		div#logininfo {
			color: black;
			text-align: center;
			padding-bottom: 35px;
			font-size: 1em;
			width: 80%;
			margin: auto;
		}

			.login-text {
				text-align: center;
				float:left;
				width:27%;
				margin-left:14%;
				margin-right:2%;
			}

			input.logininfo {
				float:left;
				width: 55%;
			}

	div#loginbox button#login-go {
		background-color: black;
		border: none;
		width: 100%;
		height: 30px;
		color: white;
		font-size: 1.5em;
	}

/*---------------------------------------------------------------*/
/*-----------------------menu things-----------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
div#navwrap {
	width: 100%;
	background-color: #43E882;
	position: fixed;
	z-index: 100;
	display: block; 
}

#navbg {
		height: 60px;
		color: white;
		line-height: 60px;
}

#greeting {
	font-family: Lobster;
	font-size:2em;
	margin:auto;
	text-align: center;
	width: 90%;
	float: left;
	color:white;
}

.menu-toggle {
	width: 5%;
	height: inherit;
	display: block;
	float: left;
	overflow: hidden;
	text-align: center;
	visibility: visible;
}

	.menu-toggle img {
		height: 40px;
		width: auto;
		padding: 1%;
		float: left;
	}

	.menu-toggle a {
		float: left;
		padding: 12px;
	}

.add {
	width: 5%;
	float: right;
	height: inherit;
}
	.add a {
		width: auto;
		padding: 10px;
	}

	.add img {
		height: 40px;
		margin: 4%;
	}

#navdiv {
	padding: 0;
	margin-top:60px;
	width: 33%;
	max-width: 100%;
	height: 90vh;
	position: fixed;
	z-index: 3;

}

nav.main {
	width: 100%;
	background-color: #43E882;
	font-family: Raleway;
	color: white;
	margin-bottom: 0;
	position: relative;
	overflow: visible;
	z-index: 5;
	display: block;
}
	nav.main ul {
		list-style-type: none;
		list-style: none;
		list-style-position: outside;
		position: relative;
		border: none;
		margin: 0;
		padding-left: 0;
		width: 100%;
		float: left;
		background-color: #43E882;
		height: 90vh;
	}

	nav.main ul li {
		height: 12.85vh;
		border-bottom: 1px solid white;
		padding-left: 20px;

	}

	nav.main ul li a {
		display: block !important;
		height: 12.85vh;
	}

img.menu-icon {
	width: auto;
	height: 35%;
	padding-right: 5%;
	margin-top:4vh;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*------------------------page content things--------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

#content {
	background-color: white;
	margin-top: 60px;
	max-height: 90vh;
	position: relative;
	z-index: 5;
	height:90vh;
	overflow-y:scroll;
}

div {
	color: black;
}

#today, #location-home {
	width: 50%;
	height: 70vh;
	max-height: 70vh;
	overflow-y:scroll;
	display:block;
	float:left;
}

#today .no-rem {
	height: 20vh;
	line-height: 20vh;
	text-align: center;
	font-size: 2em;
}
	.listed-reminder {
		height: 80px;
		border-bottom: 1px solid silver;
	}

	.listed-reminder button.main {
		border: none;
		height:inherit;
		margin:0;
		padding:0;
		background:none;
		width: 100%;
	}

	.listed-reminder button.main img {
		width: 65px;
		margin-right:1%;
		margin-left:1%;
		height: auto;
		margin-top: 10px;
		float: left;
	}

	.listed-reminder .list-item {
		width: 50%;
		float: left;
		height: inherit;
	}

	.list-title {
		width: 88%;
		float: left;
		font-size: 2em;
		margin-top: 5%;
		text-align: left;
	}

	.list-time {
		width: 88%;
		float: left;
		color: silver;
		font-size: 1.5em;
		text-align: left;
	}

	.list-buttons {
		float: right;
		width: 33%;
		height: inherit;
		text-align: center;
	}

		.list-buttons a {
			width: inherit;
			float: right;
		}

		button.main .list-buttons img {
			height: 60%;
			width: auto;
			float: none;
			margin-top: 25%;
			
		}

#location-home img {
	width: 100%;
}

.heading, .heading-2 {
	font-family: Lobster;
	font-size: 2em;
	background-color: black;
	text-align: center;
	padding: 2%;
	color: white;
}

#home-buttons {
	height: 20vh;
	display:block;
	float:left;
	width: 100%;
}

.grid-fourth {
	width:18.66%;
	text-align: center;
	display: block;
	float: left;
	background-color: #43E882;
	border-right: 1px solid white;
	height: inherit;
}
	
	.grid-fourth a, .button-center a {
		display: block;
		height:inherit;
		margin:auto;
	}

.button-center {
	width:24.95%;
	text-align: center;
	display: block;
	float: left;
	background-color: black;
	border-right: 1px solid white;
	height: inherit;
}

.button-last {
	border:none;
}

.menu-icon-large {
	width: auto;
	margin: auto;
	height: 60%;
	padding: 3%;
}

#content div.button-label {
	color: white;
	font-weight: bold;
	width: 80%;
	margin:auto;
}

.square-half {
	width: 50%;
	float:left;
	height:80vh;
}

button.loc-button {
		width:50%;
		display:block;
		float:left;
		font-size: 2em;
	}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*------------------------Add Reminder stuff---------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

#content div#choose-heading {
	padding: 0;
	height: 10vh;
	line-height: 10vh;
	font-size: 1.7em;
}

.square-fourth {
	height: 40vh;
	max-height: 40vh;
	width: 49.95%;
	float:left;
	background-color:#43E882;
	text-align: center;
	color: white;
	text-decoration: bold;
	font-size: 1.5em;
}

.square-fourth.left {
	border-right: 1px solid white;
}

.square-fourth.top {
	border-bottom: 1px solid white;
}

.add-icon {
	height: 60%;
}

#content div.add-label {
	color: white;
}

button.reminder-selection {
	display: block;
	height: inherit;
	width:100%;
	background-color:#43E882;
	margin:0;
	padding: 0;
	border: 0;
	font-size: 1em;
}

#type-pictures, #loc-pictures {
	width: 100%;
	max-width: 100%;
	height: 40vh;
	max-height: 40vh;
	text-align: center;
}

button.rem-pic{
	width: 25%;
	margin:0;
	padding:2%;
	background-color:white;
	border:none;
	height: inherit;
}
	.rem-pic img {
		height: 75%;
		width: auto;
		border:1px solid silver;
	}

#rem-title, #rem-description {
	text-align: center;
	font-size: 2em;
	margin-bottom: 2%;
	font-weight: bold;
}
	#input-title, #input-description, #input-address {
		font-size: 1em;
		margin-left: 1%;
	}

#continue, #finish-loc {
	text-align: center;
	width: 20%;
	margin:auto;
	height: 25vh;
}

#previous, #next, #set-rem {
	border: none;
	background-color: white;
	margin: 0;
	padding: 0;
	height: inherit;
}

#set-rem img {
	height: 65%;
	margin-top: 20px;
}

#previous {
	float: left;
}

#next {
	float: right;
}
	#previous img, #next img {
		height: 50%;
	}

#date {
	text-align: center;
}
	
	#calendar-select, #time-select {
		margin-top: 3%;
		font-size: 1.5em;
		height: 20vh;
		line-height: 10vh;
		width: 50%;
		float: left;
	}

	#calendar-today, #calendar-tomorrow, #morning-button, #afternoon-button, #evening-button {
		display: inline-block;
		margin-right: 2%;
		height: 60%;
	}

	#calendar-today a, #calendar-tomorrow a, #morning-button a, #afternoon-button a, #evening-button a, a.post-rem {
		padding: 10px;
		height: inherit;
		line-height: inherit;
		background: linear-gradient(white,silver);
		border: 1px solid black;
		display: inline;
		font-size: 0.7em;
	}

	#date select {
		font-size: 1em;
	}

	#repeat-select {
		font-size: 1.5em;
	}

#set-complete {
	font-size: 3em;
	font-family: Lobster;
	height:40vh;
	line-height: 40vh;
	text-align: center;
}

	#post-rem-buttons {
		text-align: center;
	}

	a.post-rem {
		font-size: 2em;
		padding: 10px;
		margin-left: 1%;
		margin-right: 1%;
		color: black;
	}


/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------Reminder Pages----------------------------*/
/*---------------------------------------------------------------*/

#reminder-list {
	height: inherit;
}

#reminder-list .square-fourth {
	overflow-y:scroll;
	background:white;
	height: 45vh;
	max-height: 45vh;
}
	
	#reminder-list .square-fourth.left {
		border-right: 1px solid silver;
	}

	#reminder-list .square-fourth.top {
		border-bottom: 1px solid silver;
	}

#reminder-list .heading {
	font-size: 1.3em;
	color: white;
}

#reminder-list .heading-2 {
	font-size: 1em;
	background-color: silver;
	color: white;
	border-bottom: 1px solid black;
	padding: 1%;
}

@media screen and (max-width: 1080px) {
	div#logo h1 {
		font-size: 6em;
	}

	.grid-fourth {
		width: 18.63%;
	}

	.menu-icon-large {
		height: 50%;
		padding: 5%;
	}

	.menu-toggle, .add {
		width: 10%;
	}
		.add a {
			padding: 7px 0 0 30px;
		}

	#greeting {
		width: 80%;
	}

	.listed-reminder .list-item {
		margin-left: 5px;
		width: 45%;
	}

	.list-title {
		font-size: 1.5em;
		margin-top:20px;
	}

	.list-time {
		font-size: 1.2em;
	}

	button.main .list-buttons img {
		height: 50%;
		margin-top: 43%;
	}

		.list-buttons a {
			padding-left: 5px;
			padding-right: 5px;
		}
	
}

@media screen and (max-width: 800px) {
	div#logo h1 {
		font-size: 5em;
	}
	.grid-fourth {
		width: 18.61%;
	}	

	.menu-icon-large {
		padding: 7%;
	}

	#content div.button-label {
		font-size: 0.9em;
	}

	.add a {
			padding: 9px 0 0 15px;
		}

	#today .no-rem {
		line-height: inherit;
		width: 80%;
		margin:auto;
		margin-top: 20px;
	}

	.listed-reminder {
		height: 140px;
	}

		.listed-reminder button.main img {
			margin-left: 15%;
			margin-top: 0;
		}

	.listed-reminder .list-item {
		height: 50%;
	}

	.list-title {
		margin-top: 10px;
	}

	.list-buttons {
		float: left;
		height: 40%;
		width: 42%;
		margin-left:70px;
	}

		button.main .list-buttons img {
			height: 100%;
			margin-top: 15px;
		}
}

@media screen and (max-width: 676px) {
	div#logo h3 {
		font-size: 1.3em;
	}

	div#logo h1 {
		font-size: 3.5em;
	}

	.button-center {
		width: 24.67%;
	}

	.add a {
			padding: 9px 0 0 5px;
		}

	#today {
		width: 100%;
		height:auto;
	}

	#location-home {
		width: 100%;
		border-bottom:1px solid silver;
	}

	.listed-reminder {
		height: 80px;
	}

		.listed-reminder button.main img {
			margin-left: 1%;
			margin-top: 10px;
		}

	.listed-reminder .list-item {
		margin-left: 5px;
		width: 55%;
		height: inherit;
	}

	.list-title {
		font-size: 2em;
		margin-top:10px;
	}

	.list-time {
		font-size: 1.2em;
	}

	.list-buttons {
		float: left;
	    width: 28%;
	    height: inherit;
	    text-align: center;
	    margin-left: 0;
	}

	button.main .list-buttons img {
		height: 40px;
		margin-top: 43%;
	}

		.list-buttons a {
			padding-left: 5px;
			padding-right: 5px;
		}


	
}

/*---------------------------------------------------------------*/
/*-----------------------500px screen----------------------------*/
/*------------------includes iPhones 6-6plus---------------------*/
/*---------------------------------------------------------------*/

@media screen and (max-width: 500px) {

	div#loginbox {
		width: 100%;
	}

	div#loginbox h2 {
		font-size: 2.5em;
	}

	.login-text {
		margin-left: 9%;
    	margin-right: 6%;
	}

	.menu-icon-large {
		height: 90px;
	}

	.grid-fourth {
		width: 49.69%;
		border-bottom:1px solid silver;
	}

	#content div.button-label {
		margin-bottom: 10%;
	}

	.button-center {
		width: 100%;
	}

	#navbg {
		line-height: inherit;
		height: 75px;
	}

	nav.main ul {
		width: 150px;
	}

	nav.main ul li a {
		height: inherit;
	}

	.menu-toggle, .add {
		width: 20%;
	}

	#greeting {
		font-size: 1.5em;
		margin-top: 3%;
		width: 60%;
	}

	#content {
		margin-top:75px;
	}

	.listed-reminder .list-item {
		width: 63%;
	}

	.list-buttons {
		width: 35px;
	}
		.list-buttons a {
			width: auto;
			height: auto;
		}

		button.main .list-buttons img {
			height: 23px;
		}

	#navdiv {
		margin-top:75px;
	}

	.square-fourth {
		width: 49.69%;
	}

	.rem-pic img {
		width: 80%;
		height: auto;
	}

	#type-pictures, #loc-pictures {
		height: 30vh;
	}

	#rem-title, #rem-description {
		font-size: 1em;
		margin-top: 5%;
	}

	#continue {
		height: 12vh;
		margin-top: 15px;
		width: 30%;
	}

	 #finish-loc {
	 	height: 70px;
		margin-top: 15px;
		width: 30%;
		margin-left:40%;
	 }
		#finish-loc button {
			margin-left:10%;
		}

	#calendar-select {
		width: 100%;
		font-size:1em;
		margin-top:0;
		height: 60px;
	}

	#time-select {
		width: 100%;
		margin-bottom: 3%;
		font-size:1em;
		height: 68px;
	}

	#repeat-select {
		font-size: 0.8em;
	}

	#set-rem img {
		margin-top: 8px;
	}

	#calendar-today a, #calendar-tomorrow a, #morning-button a, #afternoon-button a, #evening-button a {
		padding: 5px;
	}

	a.post-rem {
		padding: 5px;
	    font-size: 1.5em;
	    display: block;
	    margin: auto;
	    margin-bottom: 4%;
	    width: 80%;
	}

	#day-buttons, #tod-buttons {
		height: 32px;
	}

	#set-complete{
		width: 80%;
	    margin: auto;
	    line-height: inherit;
	    margin-top: 35px;
	    font-size: 2em;
	    height: 30vh;
	}

	#reminder-list .square-fourth {
		width: 100%;
	}

	.square-half{
		width:100%;
		height:45vh;
	}

	button.loc-button {
		font-size: 1em;
	}

}



/*---------------------------------------------------------------*/
/*------------------iPhone 4s/320px screen-----------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 320px) {

div#logo h3 {
	font-size: 1em;
}
div#logo h1 {
	font-size: 36px;
}

div#underline {
	height: 5px;
    margin-left: 30px;
    width: 240px;
}

button#login-button {
	font-size:1.5em;
}



nav.main ul li {
	font-size: 0.7em;
	height: 11.42vh;
}


#home-buttons {
	height: auto;
}

.login-text {
	margin-left:0;
}

}