@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	margin: 0;
	min-height: 100%;
	display:block;
	font-family: Raleway;
}

header {
	background-color: #43E882;
}

div {
	font-family: Raleway;
	color: white;
	display: block;
}

button {
	font-family: Raleway;
	cursor: pointer;
}

button:focus {
	border: none;
}

a {
	font-family: Raleway;
	color: white;
	text-decoration: none;
	height: inherit;
	display: block;
}

input {
	font-family: Raleway;
	font-weight: normal;
}

select {
	font-family: Raleway;
}

/*---------------------------------------------------------------*/
/*------------------------Main Page------------------------------*/
/*---------------------------------------------------------------*/

div#container-home {
	background-color: #43E882;
	height: 100vh;
	width: 100%;
	position: fixed;
}

div#container {
	background-color: white;
	height: 100vh;
	width: 100%;
	position: fixed;
}

div#logo {
	width: 85%;
	margin:auto;
	height: 85vh;
}

	div#logo div.filler {
		padding-top: 20vh;
	}

	div#logo h3 {
		font-size: 1.5em;
		text-align: center;
		width: 100%;
	}

	div#logo h1{
		font-size: 8em;
		text-align: center;
		margin: 0;
	}
		div#logo h1 div.logo-1 {
			font-family: Lobster;
			display:inline;
		}

		div#logo h1 div.logo-2 {
			font-family: Raleway;
			display:inline;
		}

	div#underline {
		height: 10px;
		background-color: white;
		float: right;
	}

div#login {
	border-top: 5px solid silver;
	background-color: black;
	bottom: 0px;
	position: fixed;
	width: 100%;
	height: 15vh;
}
	button#login-button {
		height: inherit;
		color: white;
		background-color: black;
		border:none;
		font-size: 2.5em;
		width: 100%;
	}

/*---------------------------------------------------------------*/
/*------------------------Login Screen---------------------------*/
/*---------------------------------------------------------------*/

body#loginscreen {
	background-color: #43E882;
	color: black;
}

div#loginbox {
	width: 80%;
	margin: auto;
	background-color: white;
	border-top: 5px solid silver;
	border-bottom: 5px solid silver;
	text-align: center;
	height: auto;
	margin-top: 30vh;

}
	div#loginbox h2 {
		font-size: 3em;
		text-align: center;
		color: black;
		margin-bottom: 20px;
	}

	div#loginbox form {
		margin-top: 5%;
		margin-bottom:5%;
	}

		div#logininfo {
			color: black;
			text-align: center;
			padding-bottom: 15px;
			font-size: 1em;
			width: 85%;
			margin: auto;
		}
			input.logininfo {
				float:right;
			}

	div#loginbox button#login-go {
		background-color: black;
		border: none;
		width: 100%;
		height: 30px;
		color: white;
		font-size: 1.5em;
	}

/*---------------------------------------------------------------*/
/*-----------------------menu things-----------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
div#navwrap {
	width: 100%;
	background-color: #43E882;
	position: fixed;
	z-index: 100;
	display: block; 
}

#navbg {
		height: 10vh;
		color: white;
}

#greeting {
	font-family: Lobster;
	font-size:2em;
	margin:auto;
	text-align: center;
	width: 90%;
	padding-top: 0.7%;
	float: left;
}

.menu-toggle {
	width: 5%;
	height: inherit;
	display: block;
	float: left;
	overflow: hidden;
	text-align: center;
	visibility: visible;
}

	.menu-toggle img {
		height: 40px;
		width: auto;
		padding: 1%;
		float: left;
	}

	.menu-toggle a {
		float: left;
		padding: 18%;
	}

.add {
	width: 5%;
	float: right;
	height: inherit;
}
	.add a {
		width: inherit;
		padding: 20% 25% 20% 20%;
	}

	.add img {
		height: 60%;
		margin: 4%;
	}

#navdiv {
	padding: 0;
	margin-top:10vh;
	width: 33%;
	max-width: 100%;
	height: 90vh;
	position: fixed;
	z-index: 3;

}

nav.main {
	width: 100%;
	background-color: #43E882;
	font-family: Raleway;
	color: white;
	margin-bottom: 0;
	position: relative;
	overflow: visible;
	z-index: 5;
	display: block;
}
	nav.main ul {
		list-style-type: none;
		list-style: none;
		list-style-position: outside;
		position: relative;
		border: none;
		margin: 0;
		padding-left: 0;
		width: 100%;
		float: left;
		background-color: #43E882;
		height: 90vh;
	}

	nav.main ul li {
		height: 12.85vh;
		border-bottom: 1px solid white;
		padding-left: 20px;

	}

	nav.main ul li a {
		display: block !important;
		height: 12.85vh;
	}

img.menu-icon {
	width: auto;
	height: 35%;
	padding-right: 5%;
	margin-top:4vh;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*------------------------page content things--------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

#content {
	background-color: white;
	margin-top: 10vh;
	max-height: 90vh;
	position: relative;
	z-index: 5;
}

#content div {
	color: black;
}

#today, #location-home {
	width: 50%;
	height: 70vh;
	display:block;
	float:left;
}

#location-home img {
	width: 100%;
}

#content div.heading {
	font-family: Lobster;
	font-size: 2em;
	background-color: black;
	text-align: center;
	padding: 2%;
	color: white;
}

#home-buttons {
	height: 20vh;
	display:block;
	float:left;
	width: 100%;
}

.grid-fourth {
	width:18.67%;
	text-align: center;
	display: block;
	float: left;
	background-color: #43E882;
	border-right: 1px solid white;
	height: inherit;
}
	
	.grid-fourth a, .button-center a {
		display: block;
		height:inherit;
		margin:auto;
	}

.button-center {
	width:25%;
	text-align: center;
	display: block;
	float: left;
	background-color: black;
	border-right: 1px solid white;
	height: inherit;
}

.button-last {
	border:none;
}

.menu-icon-large {
	width: auto;
	margin: auto;
	height: 60%;
	padding: 3%;
}

#content div.button-label {
	color: white;
	font-weight: bold;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*------------------------Add Reminder stuff---------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/

#content div#choose-heading {
	padding: 0;
	height: 10vh;
	line-height: 10vh;
	font-size: 1.7em;
}

.square-fourth {
	height: 40vh;
	width: 49.95%;
	float:left;
	background-color:#43E882;
	text-align: center;
	color: white;
	text-decoration: bold;
	font-size: 1.5em;
}

.square-fourth.left {
	border-right: 1px solid white;
}

.square-fourth.top {
	border-bottom: 1px solid white;
}

.add-icon {
	height: 60%;
}

#content div.add-label {
	color: white;
}

button.reminder-selection {
	display: block;
	height: inherit;
	width:100%;
	background-color:#43E882;
	margin:0;
	padding: 0;
	border: 0;
	font-size: 1em;
}

#type-pictures {
	width: 100%;
	max-width: 100%;
	height: 40vh;
	max-height: 40vh;
	text-align: center;
}

button.rem-pic{
	width: 25%;
	margin:0;
	padding:2%;
	background-color:white;
	border:none;
	height: inherit;
}
	.rem-pic img {
		height: 75%;
		width: auto;
		border:1px solid silver;
	}

#rem-title, #rem-description {
	text-align: center;
	font-size: 2em;
	margin-bottom: 2%;
	font-weight: bold;
}
	#input-title, #input-description {
		font-size: 1em;
		margin-left: 1%;
	}

#continue {
	text-align: center;
	width: 20%;
	margin:auto;
	height: 25vh;
}

#previous, #next {
	border: none;
	background-color: white;
	margin: 0;
	padding: 0;
	height: inherit;
}

#previous {
	float: left;
}

#next {
	float: right;
}
	#previous img, #next img {
		height: 50%;
	}

/*---------------------------------------------------------------*/
/*-----------------------500px screen----------------------------*/
/*------------------includes iPhones 6-6plus---------------------*/
/*---------------------------------------------------------------*/

@media screen and (max-width: 500px) {

}



/*---------------------------------------------------------------*/
/*------------------iPhone 4s/320px screen-----------------------*/
/*---------------------------------------------------------------*/
@media screen and (max-width: 320px) {

div#logo h3 {
	font-size: 1em;
}
div#logo h1 {
	font-size: 36px;
}

div#underline {
	height: 5px;
    margin-left: 30px;
    width: 240px;
}

button#login-button {
	font-size:1.5em;
}

div#loginbox {
	width: 100%;
}

	div#loginbox h2 {
		font-size: 2em;
	}

#navbg {
	height: 20vh;
}

#navdiv {
	margin-top: 20vh;
	height:80vh;
	width: 45%;
}

nav.main ul li {
	font-size: 0.7em;
	height: 11.42vh;
}

#content {
	margin-top: 20vh;
	overflow-y:scroll;
}

#today, #location-home {
	width: 100%;
}

#home-buttons {
	height: auto;
}

}